body{
    background-color: #333131;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 60px;
}

#Inicio,
#SobreMi, 
#Proyectos, 
#Lenguajes, 
#Contacto {
    scroll-margin-top: 80px; 
}


#Menu{
    background-color: #201f1f;
    text-align: right;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#Menu a{
    margin: 10px;
    font-size: larger;
    text-decoration: none;
}

#Menu a:link{
    color: aliceblue;
}

#Menu a:visited{
    color: aliceblue;
}

#Menu a:hover{
    text-decoration: underline;
}

#FotoPerfil{
    border-radius: 50%;
    height: 250px;
}

h1{
    color: aliceblue;
    font-size: 50px;
}

#Inicio .boton{
    height: 50px;
    border-radius: 50%;

}

#SobreMi{
    color: aliceblue;
    background-color: #494646;
    border-radius: 10px;
    margin: 10px 190px;
    padding: 20px 200px;
}

#Proyectos{
    color: aliceblue;
}

#Proyectos .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Proyectos .Tarjetas{
    width: 250px;
    color: aliceblue;
    background-color: #494646;
    border-radius: 30px;
    padding: 20px 50px 5px 50px;
}

#Proyectos .Portada{
    height: 110px;
    border: 2px black solid ;
    border-radius: 5%;
}

#Proyectos h4{
    text-decoration: underline;
}

#Proyectos .boton{
    height: 50px;
    border-radius: 50%;
}

#Lenguajes h2{
    color: aliceblue;
}

#Lenguajes img{
    height: 50px;
}

#Lenguajes nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Lenguajes figure{
    text-align: center;
    color: aliceblue;
}

#Contacto{
    color: aliceblue;
    background-color: #494646;
    border-radius: 10px;
    margin: 10px 190px;
    padding: 10px 100px;
}

#Contacto form{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

#Contacto input{
    /*border: 1px solid black;*/
    /*border-radius: 2%;*/
}

textarea{
    height: 250px;
    border-radius: 2%;
}